/* ============ PROJECT CSS ============ */

/* header */
header {
  background-color: lightgray;
}
.header-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .links ul {
  display: none;
}
.menu-btn {
  justify-content: center;
  align-items: center;
  background: transparent;
}
.menu-btn:hover {
  transform: scale(1.1);
}

/* banner */
.banner {
  background-color: lightblue;
  height: 25vh;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-weight: bold;
  cursor: pointer;
}

/* main */
main {
  padding: 30px 15px;
  text-align: center;
}
main h2 {
  margin-bottom: 2rem;
}
.box-container1,
.box-container2 {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  gap: 1rem;
}
.box {
  min-height: 10rem;
  background-color: grey;
  display: grid;
  place-items: center;
}

/* action button */
.action-btn-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.action-btn {
  background-color: goldenrod;
}
.action-btn:hover {
  background-color: rgb(197, 145, 12);
}

/* aside */
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 50vw;
  margin-right: -50vw;
  display: grid;
  place-items: center;
  padding: 3rem 1.5rem;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: margin-right 1s ease-in-out;
}
.show-sidebar {
  margin-right: 0;
}
.sidebar-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.close-btn {
  position: absolute;
  top: -30px;
  right: -15px;
  background-color: transparent;
}
.close-btn:hover {
  transform: scale(1.1);
}
.sidebar-container .links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Media Queries */
@media screen and (min-width: 500px) {
  .box-container1,
  .box-container2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .header-container .links ul {
    display: flex;
    gap: 20px;
  }
  .menu-btn-container {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
